

main {
  width: 75%;
  padding: 1rem;

  ul {
    display: flex;
    margin: 0 0 1rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    border-bottom: 0.1rem solid $c-grey;

    li {
      margin-right: 1rem;
    }
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
