

main {
  width: 75%;
  padding: 1rem;

  ul {
    display: flex;
    margin: 0 0 1rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    border-bottom: 0.1rem solid $c-grey;

    li {
      margin-right: 1rem;
      margin-bottom: 0;
      border-bottom: 0.05rem solid transparent;

      &:hover {
        border-bottom-color: $c-grey;
      }
    }
  }


}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    flex-basis: calc(100% / 5 - 2rem);
    margin: 1rem;
  }
}

.game-item__pic {
  width: 100%;
}
.game-item__name {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.game-item__popularity {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: $c-lightgrey;
  font-size: 0.9rem;
}
