
.sidebar {
  width: 25%;
  padding: 1rem;
  background-color: $c-lightgrey;

  h2 {
    margin-top: 2rem;
  }

  p {
    margin-bottom: 2rem;
    font-size: 0.9rem;
    line-height: 1.4;
  }

  ul {
    padding-left: 0;

    li {
      display: inline-block;
      margin-bottom: 0.5rem;
      padding: 0.5rem 0.5rem 0.5rem 0.25rem;
      border-left: 0.25rem solid $c-purple;
      background-color: $c-white;


    }
  }

  a {
    margin-right: 1rem;
    padding: 0.5rem;
    background-color: $c-purple;
    color: $c-white;
  }
}
